.login-bg {
  background-image: url("https://wallpapers.com/images/hd/4k-gaming-background-el73bpuexvusd7mi.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.transparent-form {
  background-color: rgba(255, 255, 255, 0.6); 
  border-radius: 0.375rem; 
  padding: 1.5rem;
}