[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tomli = "*"
flask-sqlalchemy = "*"
flask-swagger = "*"
psycopg2-binary = "*"
python-dotenv = "*"
flask-cors = "*"
gunicorn = "*"
cloudinary = "*"
flask-jwt-extended = "==4.6.0"
wtforms = "==3.1.2"
flask-bcrypt = "*"
flask-migrate = "*"
blinker = "==1.9.0"
certifi = "==2025.7.14"
charset-normalizer = "==3.4.2"
click = "==8.2.1"
flask = "==3.1.1"
gitdb = "==4.0.12"
gitpython = "==3.1.41"
greenlet = "==3.2.3"
idna = "==3.10"
jinja2 = "==3.1.6"
markupsafe = "==3.0.2"
requests = "==2.32.4"
smmap = "==5.0.2"
sqlalchemy = "==2.0.41"
typing-extensions = "==4.14.1"
urllib3 = "==2.5.0"
werkzeug = "==3.1.3"
flask-admin = "*"
flask-mail = "*"
itsdangerous = "*"

[requires]
python_version = "3.13"

[scripts]
start="flask run -p 3001 -h 0.0.0.0"
init="flask db init"
migrate="flask db migrate"
local="heroku local"
upgrade="flask db upgrade"
downgrade="flask db downgrade"
insert-test-data="flask insert-test-data"
reset_db="bash ./docs/assets/reset_migrations.bash"
deploy="echo 'Please follow this 3 steps to deploy: https://github.com/4GeeksAcademy/flask-rest-hello/blob/master/README.md#deploy-your-website-to-heroku' "
