-i https://pypi.org/simple
alembic==1.13.1
certifi==2024.2.2
click==8.1.7
flask==2.3.3
flask-admin==1.6.1
flask-cors==4.0.1
flask-migrate==4.0.5
flask-sqlalchemy==3.1.1
flask-swagger==0.2.14
gunicorn==22.0.0
itsdangerous==2.1.2
markupsafe==2.1.5
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-editor==1.0.4
pyyaml==6.0.1
six==1.16.0
sqlalchemy==2.0.30
urllib3==2.2.1
werkzeug==2.3.8
wtforms==3.1.2
flask-jwt-extended==4.6.0
requests==2.32.3
