.logo-frame {
    width: 150px;  
    height: 150px;
    max-width: 150px;
    border-radius: 50%;
    border: 1px solid white; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    background: none;
    transition: all 0.3s ease-in-out;
}


.add-logo-text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.7;
    text-align: center;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}



.logo-frame img {
    width: 800%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
}


.logo-frame:hover {
    border-color: #ddd;
    background: rgba(255, 255, 255, 0.2);
}
