.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.message-box {
  width: 90%;
  max-width: 400px;
  padding: 1.5em;
  border-radius: 20px;
  color: hsl(206, 20%, 32%);
  background: #d9d9d9;
  box-shadow: 9px 9px 19px #192633;
  text-align: center;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1010;
}

p {
  background: none;
}

/* Estilo del botón */
.box-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #d9d9d9;
  color: #415361;
  border: none;
  border-radius: 15px;
  border-color: #415361;
  border-style: solid;
  box-shadow: 3px 3px 15px #192633;
  cursor: pointer;
}

/* Efecto al pasar el mouse sobre el botón */
.box-btn:hover {
  box-shadow: 9px 9px 19px #192633;
  scale: 1.1;
  transition: 0.1s;
}
