<html lang="en">
<head>
    <style>
        .title{
            color: #73D398;
            text-align: center;
        }
        .confirmed {
            padding: 13.5px 40px 13.5px 40px;
            border-radius: 12px;
            border: none;
            background: #73D398;
            color: #fff;
            font-weight: bold;
            font-size: 17px;
            margin-top: 50px;
            margin-left: 16%;
        }
    </style>
</head>
<body>
    <h2 class="title">Bienvenido a Global Market, {{name}} 🍏</h2>
    <button class="confirmed">Confirma tu cuenta</button>
</body>
</html>