/*
.content-wrapper {
  background: url('../styles/images/Landing_images/waves_2k_upscaled.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}

.content-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
  
  .content-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  