/*.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: gr; /* ← esto parece un error, debería ser un color válido *
  position: relative;
  z-index: 10;
}

.navbarLeft {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbarCenterBlock {
  display: flex;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(#221833);
  padding: 0.8rem 2rem;
  border-radius: 20px;
  min-width: 700px;
  justify-content: flex-start;
}

.levelUpText {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.levelUpTextUp {
  font-weight: bold;
  color: #FB645C;
  font-size: 1.2rem;
}

.levelUpContainer {
  margin-right: 2rem;
}

.navButton {
  background: transparent;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navButton:hover {
  color: #9f7aea;
}

.dropdown1 {
  position: relative;
  left: 100px;
}

.dropdown2 {
  position: relative;
  left: 200px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #1e103f;
  border-radius: 0 0 12px 12px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.2rem;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 20;
}

.dropdownMenu a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.dropdownMenu a:hover {
  color: #9f7aea;
}

.navbarRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #221833;
  border-radius: 20px;
  padding: 0.8rem 2rem;
  min-width: 130px;
  justify-content: flex-start;
}

.progressBarContainer {
  width: 100px;
  height: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.progressBar {
  width: 100%;
  height: 100%;
}

.progress {
  height: 100%;
  background: linear-gradient(90deg, #a855f7, #6d28d9);
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.motiIcon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
