h2{
    font-size: 48px;
}

p{
    font-size: 24px;
}

img{
    width: 360px;
    height: 360px;
    margin-right: 30px;
    object-fit: cover;
}

.onboardingText p {
    max-width: 650px;
    word-wrap: break-word;
}

.onboardingPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #130B21;
    flex-direction: column;
}

.onboardingMotyText{
    display: flex;
    flex-direction: row;
    padding-right: 250px;
}
.onboardingText{
    padding-top: 50px;
}

.onboardingButtonSpace{
    display: flex;
    justify-content: center;
    align-items: center;
}

.onboardingNextButton{
    background-color: #FB645C;
    width: 150px;
    height: 70px;
    border-radius: 16px;
    box-shadow: 0px 11px 0px rgba(9, 3, 19, 1);
    border: solid 1px #090313;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.onboardingNextButton:active{
    box-shadow: none;
    transform: translateY(11px);
}

@media (max-width: 1600px) {
    .onboardingMotyText{
        margin-left: clamp(100px, 0vw, 0px);
    }
}

@media (max-width: 900px) {
    img{
        width: clamp(240px, 12vw, 360px);
        height: clamp(240px, 12vw, 360px);
        margin-right: 30px;
        object-fit: cover;
    }

    .onboardingMotyText{
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
        padding-right: 20px;
        padding-bottom: 50px;
        padding-left: 20px;
    }
}

@media (max-width: 500px) {
    img{
        width: clamp(180px, 12vw, 280px);
        height: clamp(180px, 12vw, 280px);
    }
    
    h2{
        font-size: 36px;
    }
    
    p{
        font-size: 16px;
    }

    .onboardingNextButton{
        background-color: #FB645C;
        width: 100px;
        height: 40px;
        box-shadow: 0px 8px 0px rgba(9, 3, 19, 1);
    }
}