
.card {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 18rem;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6));
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 300px;
    
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    color: #f5f5f5;
    margin-bottom: 15px;
    text-align: center;
}

.btn-light {
    color: #fafafa !important;
    background-color: rgb(34, 63, 126);
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.btn-light:hover {
    background-color: #fff;
    color: #000 !important;
}

.btn-warning {
    color: #070000;
    border: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.1s ease, color 0.1s ease;
}

.btn-warning:hover {
    background-color: #fff;
    color: #000;
}

.disabled-btn {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #aaa;
}

.disabled-btn:hover {
    background-color: #aaa;
    color: #000;
}

