.client-all {
  background-image: url("../../assets/images/background-newclient.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
  width: 100%;
  padding: 20px;
}
