/* Agrega esto en tu archivo de estilos (elotroformulario.css) */
@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@400&display=swap");


.container{

    display: "flex";
    flex-wrap: "wrap";
    align-items: "center";
    justify-content: "center";
    border: "1px solid #616161";
    border-radius: "35px";
    opacity:"0.9";
    margin: "30px auto 0";
    padding: "40px";
    background-color: "white";
    box-shadow: "0 0 45px #546";

}
.container h1 {
  margin-top: 60px;
  font-family: "Calibri", "san-serif";   
  background-color: "white";
  box-shadow: "0 0 45px #546";
  opacity: "0.9", 
}

h3 {
  color: black;
  margin-top: 20px;
  font-family: "Calibri", "san-serif";
}
h6 {
  text-align: left;
  font-family: "Calibri", "san-serif";
}

p{
  font-size: 18px;
}

label{
  font-weight: bold;
}