.footer {
    background-color: #DFDCD3 !important;
    padding-top: 15px;
    margin-top: 30px; 
}

.unete {
    padding-left: 6rem;
}

.siguenos{
    padding-left: 6rem;
}

.ayuda{
    padding-left: 6rem;
}