

.container h1{
  margin-top: 60px;
}

/* Agrega esto en tu archivo de estilos (elotroformulario.css) */
@import url("https://fonts.googleapis.com/css2?family=Calibri:wght@400&display=swap");

.container h1 {
  margin-top: 60px;
  font-family: "Calibri", "san-serif";

}
h3 {
  color: black;
  margin-top: 20px;
  font-family: "Calibri, sans-serif";
}

h6 {
  text-align: left;
}








