/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

body {
    margin: 0;
    overflow: hidden; /* Evita que haya desplazamiento vertical */
  }
  
  #imagenFija {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ancho del viewport */
    height: 100vh; /* Altura del viewport */
    object-fit: cover; /* Ajusta la imagen al contenedor sin perder la proporción y cubriendo completamente */
  }