/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.background-img {
    opacity: 70%;
    padding: 20px 20px 20px 20px;
}

.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }