#login-page,
#signup-page {
  font-size: 1.2rem;
  font-weight: 600;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1514064019862-23e2a332a6a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2028&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  color: azure;
}

.wrap-loginSignup {
  border-radius: 15px;
  width: 40vw;
  backdrop-filter: grayscale(0.8) blur(2px);
  box-shadow: 0 0 15px rgb(255, 255, 255);
  /* border-top: 1px solid rgba(225, 225, 225, 0.3);
  border-left: 1px solid rgba(225, 225, 225, 0.1);
  border-right: 1px solid rgba(225, 225, 225, 0.2); */
}

#inputEmail,
#inputPassword,
#inputName,
#inputLastName,
#inputEmail1,
#inputDni,
#inputPassword1,
#inputPayment {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 12px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(63, 211, 43, 0.3);
  color: white;
  transition: none;
}

#btn-login,
#btn-signup {
  border: 2px solid rgba(0, 0, 0, 0.563);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  color: white;
}

#btn-login:hover {
  background-color: rgba(7, 7, 7, 0.2);
}
#btn-signup:hover {
  background-color: rgba(7, 7, 7, 0.2);
}

#cat-suit {
  font-size: 5rem;
  color: black;
}
