.dashboard-icon {
  position: relative;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.ItemAvatar {
  background-image: linear-gradient(to right, rgba(31, 118, 146, 0.5), rgba(67, 56, 135, 0.5));
  border-radius: 8px;
  border: none;
  padding: 10px;
  min-width: 10%;
  position: absolute;
  right: -10px;
}

.ItemAvatarButtom {
  color: #ffffff;
  font-weight: bold;
  /* padding: 10px; */
  min-width: 100px;
}

.ItemAvatarButtom:hover {
  color: Black;
  font-weight: bolder;
  background-color: transparent;
}

.Toggle {
  border: "none";
  background: "transparent";
  cursor: "pointer";
  padding: 10px 15px;
}

.Toggle::after {
  display: none;
  /*asi no se ve el "triángulo invertido" */
}

.navbar-avatar {
  margin-right: 20px;
  /* Separa el avatar del borde derecho */
}

/* estilos para la campana de notificaciones */
.campana-container {
  position: relative;
  display: inline-block;
}

.campana {
  font-size: 30px;
  color: white;
  position: relative;
  display: inline-block;
}

.campanaConNotificacion {
  color: #ffc107 !important;
  font-size: 30px;
}

.notificacionDot {
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(50%, -50%);
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}

/* --------------------*/
.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #060707;
  z-index: 999;
}

.navbar-custom {
  /* este class modifica directamente la navbar */
  background-color: #2b2d42;
  font-weight: bold;
  justify-content: flex-start;
  color: white;
  height: 100px;
  overflow: visible;
}

#basic-navbar-nav {
  transition: max-height 1.5s ease;
  max-height: 0;
  color: white;
}

.collapseCustom {
  background-color: #2b2d42;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: visible;
  width: fit-content;
  gap: 20px;
  justify-content: space-between;
}

.collapseCustom.show {
  max-height: 500px;
  right: 10px;
  max-width: 25%;
  background: none;
  width: fit-content;
  text-align: center;
}


.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0.4em;
  position: relative;
  margin-left: auto;
}

.navbar-toggler-icon {
  position: relative;
  width: 25px;
  height: 3px;
  transition: all 1.3s ease;
}

.navbar-toggler:hover {
  background-color: #bbbaaa !important;
}

.navbar-toggler:focus {
  color: transparent !important;
}

/* modificación desde acá en los botones del navbar utilizando pseudoelementos*/
.NavButton {
  cursor: pointer;
  background-color: #2b2d42;
  margin: 5px 10px;
  font-size: large;
  font-family: inherit;
  color: white !important;
  position: relative;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}

/* Efecto de línea animada debajo */
.NavButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: -2px;
  left: 0;
  transition: width 0.4s ease;
}

.NavButton:hover::after {
  width: 100%;
}

/* Efecto con punto decorativo */
.NavButton::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: cyan;
  border-radius: 50%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.NavButton:hover::before {
  opacity: 0.75;
  transform: translateY(-50%) scale(1.2);
}

/* Estado activo con escala y cambio de color */
.NavButton:active {
  color: #bbb;
  transform: scale(0.95);
}

.NavButton:active::before {
  background-color: yellow;
}

/* styles del chatComponent */

/* Contenedor principal del chat */
.chatContainer {
  display: flex;
  height: 450px;
  width: 100%;
}

/* Sección de Contactos (35%) */
.chatContacts {
  width: 35%;
  border-right: 1px solid #ccc;
  background-color: #f4f4f9;
  overflow-y: scroll;
  padding: 10px;
}

/* Sección de Mensajes (65%) */
.chatMessages {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: #f8f9fa;
  position: absolute;
  top: 45px;
  right: 0;
}

/* CardHeader para la parte superior */
.CardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  position: relative;
}

.CardHeader h5 {
  font-size: 20px;
}

.chatContacts h6 {
  font-size: 16px;
}

.chatContacts select {
  margin-bottom: 10px;
}

.chatContacts div {
  margin-bottom: 10px;
  cursor: pointer;
}

.chatContacts div.bg-info {
  background-color: #17a2b8 !important;
  color: white !important;
}

.card-footer {
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  position: absolute;
  right: 0;
  width: 65%;
  top: 82%;
  background-color: #f8f9fa;
}

.card-footer input {
  width: 100%;
}

.card-footer button {
  width: 100%;
}

/* Botón de cerrar */
.closeChat {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  transition: transform 0.2s ease;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.closeChat:hover {
  transform: scale(1.2) translateY(-50%) rotate(0.5turn);
  color: yellow;
}

.closing {
  opacity: 0;
  transform: scale(0.95);
  /* Hace que el chat se contraiga ligeramente */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* Duración de la transición */
}