@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");
.navbarBooks {
  background-color: rgb(146, 197, 211);
}
.brand:hover {
  color: rgb(196, 73, 28);
  border-color: black;
  border-width: 3px;
}
.brand {
  color: rgb(26, 27, 27);
  font-family: "Rubik", sans-serif;
  font-size: x-large;
}
.navbarItem {
  color: rgb(146, 197, 211);
  font-size: 13px;
}
.navbarItem:hover {
  color: white;
}
/* FOOTER------------------------------------------------------------------------------- */
.brandFooter {
  color: rgb(146, 197, 211) !important;
  font-family: "Rubik", sans-serif !important;
  font-weight: bold;
  color: inherit;
}
.buttonFooter {
  background-color: rgb(146, 197, 211);
}
.tituloFooter,
.fab {
  color: rgb(146, 197, 211);
}
.circulo {
  border-color: rgb(146, 197, 211);
  color: rgb(146, 197, 211);
  background-color: white;
  box-shadow: 0 0 20px #ccc;
}

footer {
  overflow: hidden;
  margin-top: 250px;
  background: #262626;
  color: #fff !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

footer {
  margin-top: 20px !important;
  width: 100%;
  background-color: rgb(20, 20, 20);
  min-height: 250px;
  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

a {
  text-decoration: none !important;
}
