.dayFont {
    font-size: 87%;
    color: #333333;
    font-weight: 500;
  }
  
  .nav-link.active.dayFont {
    background-color: #d0d0d0;
    color: #333333;
    font-weight: 750;
    box-shadow: 0px 2px 5px 1px #4b5c9f;
  }
  .nav-link {
    padding: 0.4rem 1rem;
  }