.RegistroUsuarioDiv {
  font-weight: 500;
  width: 25rem;
  background-color: #e0edff;
  color: #1e3151;
  border-radius: 2rem;
  margin-top: 4rem;
}

.alertMissing{
  margin-bottom: 8rem;
  margin-top: 2rem;
  width: 25rem;
}

.form-control {
  width: 20rem;
}

.btn {
  width: 20rem;
}

.tituloRegistro {
  display: flex;
  justify-content: center;
}
