/* Contenedor principal */

.container{
  font-size: 25px;
}
.profile-container {
  
  font-family:  "Calibri", "san-serif";
  margin-top: 70px;
  justify-content: center;
  border: 1px solid #616161;
  border-radius: 25px;
  background: white;
  padding: 30px;
  box-shadow: 0 0 50px #000;
  width: 60% !important;
  height:50%;
}

@media (max-width: 768px) {
  .profile-container {
    width: 90% !important;
    display: block;
  }

  .photo.text-center {
    margin: 0 auto;
  }
}

/* Estilos para los elementos específicos dentro del contenedor */
.profile-container * {
  font-family: calibrí;
}

@media (min-width: 1080px) {
  div.row {
    gap: 70px;
  }
}

.photo {
  display: flex;
  text-align: center;
  border: 4px solid #818080;
  padding: 10px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  margin-right: 30;
}

.provider-name-text {
  font-family: fantasy;
  color: #001F3F;
  margin-top: 8px;
  font-weight: bold;
  text-align: left;
}

.job-1,
.job-2,
.job-3 {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius:4px;
  width: 100%;

}

.description-wrapper {
  font-family:  "Calibri", "san-serif";
  color: "#001F3F";
  text-align: center; 
 
}

.ratings-section{
margin-top: 5px;
}

.comments-ratings {
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 
  line-height: 1.5; /* Ajusta la altura de línea según tus preferencias */
  font-weight: bold;
  text-decoration: underline;
}


.rating-list{
font-family:  "Calibri", "san-serif";
}

.rating{
  font-weight: bold;
  margin-bottom: 15px;;
  font-style: italic;
}
/*
Estilos para los botones */
.btn {
  font-family:  "Calibri", "san-serif";
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn.btn-danger {
  background-color: #dc3545;
  color: white;
  border: none;
  font-size: 18px;
  max-width: 100%;
}

.btn.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  justify-content: center;
  font-size: 18px;
  max-width: 100%;
}

.btn:hover {
  opacity: 0.8;
}
.uploaded-image {
  width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
  object-fit: cover; /* Ajusta el tamaño de la imagen manteniendo su relación de aspecto */
  border-radius: 50%; /* Hace que la imagen sea redonda */
  border: 2px solid #fff; /* Agrega un borde blanco al redondel */
}

@media (max-width: 768px) {
  .logout button {
    width: 100%;
  }
}
