.stylebackgroundimg  {
    background-color: "#FBF9F1";
    background-image: url("https://res.cloudinary.com/dx23woi99/image/upload/v1708370471/om_1_cmnuza.png");
    background-repeat: no-repeat;
    background-position: 95% 15%;
    background-size: 20%;
}