.stylebackgroundimg {
    background-color: #FBF9F1;
    background-image: url("https://res.cloudinary.com/dx23woi99/image/upload/v1708370471/om_1_cmnuza.png");
    background-repeat: no-repeat;
    background-position: 90% 30%;
    background-size: 25%;
    /* opacity: 0.8;  */
  }


  @import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.background-img {
    opacity: 70%;
    padding: 20px 20px 20px 20px;
}

.poiret-one-regular {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }