.video-wrapper {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.video-wrapper > div {
  position: absolute !important;
  top: 50%;
  left: 50%;
  width: 177.77%;
  height: 1200px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.about-overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ECEFCA;
  z-index: 3;
  text-align: center;
}
.about-description {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #547792;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  color: #FFFFFF;
  margin-top: 50px;
}
.about-description h2 {
  font-weight: 700;
  color: white;
}
.about-description p {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ECEFCA;
}
.valores-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
.valores-link::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 2px;
  width: 0%;
  background: linear-gradient(to right, rgba(236, 239, 202, 0.56), rgb(255, 255, 255));
  transition: width 0.3s ease;
}
.valores-link:hover::after {
  width: 100%;
}
.btn-tarifas {
  background-color: #ECEFCA;
  color: #213448;
  font-weight: bold;
  transition: background 0.3s ease, color 0.3s ease;
}
.btn-tarifas:hover {
  background-color: #DCDCC2;
  color: #547792;
}