.yellow-border {
  background: linear-gradient(135deg, #ECEFCA);
  box-shadow: #ECEFCA;
  padding: 6px;
  border-radius: 24px;
  box-shadow: 0 0 15px 10px #ECEFCA; /* inicial */
}

.carousel-caption{
    background: rgba(0, 0, 0, 0.500);
}