
.carousel-caption{
    background: #3851669f;
}

.button1{
  color: black;
}
h6{
  color: #ECEFCA;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #385166;       
  border-radius: 50%;          
  padding: 20px;                 
  background-size: 100% 100%;     
  background-repeat: no-repeat;
}
