
.carousel-caption{
<<<<<<< HEAD
    background: rgba(0, 0, 0, 0.500);
}

.button1{
  color: black;
}
=======
    background: #3851669f;
}

h6{
  color: #ECEFCA;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #385166;       
  border-radius: 50%;          
  padding: 20px;                 
  background-size: 100% 100%;     
  background-repeat: no-repeat;
}
>>>>>>> 8d63732e394aafc2484c573d3d3bbcc8abc60d36
