
.nutricion-page .hero {
  background: linear-gradient(to right, #f0fff0, #e0f7fa);
  border-radius: 20px;
}

.nutricion-page h1,
.nutricion-page h2 {
  color: #3c3c3c;
  font-weight: bold;
}

.nutricion-page .card-title {
  color: #5a8dee;
}

.nutricion-page .list-group-item {
  font-size: 1.1rem;
  background-color: #f9f9f9;
}

.sport-page .hero {
  background: linear-gradient(to right, #f0fff0, #e0f7fa);
  border-radius: 20px;
}

.sport-page h1,
.sport-page h2 {
  color: #ecefca;
  font-weight: bold;
}

.sport-page .card-title {
  color: #5a8dee;
}

.sport-page .list-group-item {
  font-size: 1.1rem;
  background-color: #f9f9f9;
}

.sport1 {
  background-color: #ecefca;
}

.fondo {
  background-color: #547792;
}

.sport-page h1 {
  color: #3c3c3c;
}

.entrenador-page .hero {
  background: linear-gradient(to right, #f0fff0, #e0f7fa);
  border-radius: 20px;
}

.trainer-section {
  background-color: #1e2a38;
  color: #ffffff;
}

.trainer-card {
  border: none;
  background-color: #2c3e50;
}

.trainer-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}


.trainer-card-1 {
  background-color: #94b4c1;
}

.trainer-section {
  background-color: #547792;
}

