.navbar {
  background-color: #eae164;
}

.search-bar input.form-control {
  box-shadow: none !important;
  outline: none;
}

.navbar-brand {
  width: 200px;
}

.footer {
  background-color: #EAE164;
}
.custom-hr{
  border: 1px solid #000;
  height: 3px;
  background-color: #000;
  margin: 0;
}
