body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #1e91ed 10%, #7f00b2 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.button{
  background-color:#1e91ed;
  color: white;
                          
}
