*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sphere {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: visible;
  border-radius: 50%;
  transform-style: preserve-3d;
  animation: rotate 8s linear infinite;
  position: relative;
}

.sphere .meridian {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transform-style: preserve-3d;
  box-shadow: inset 0 0 8px rgba(0, 0, 255, 0.05);
}

.sphere .latitude {
  position: absolute;
  width: 300px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transform: rotateY(90deg);
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0, 128, 0, 0.3);
}

.sphere .axis {
  position: absolute;
  width: 600px;
  height: 2px;
  top: calc(50% - 1px);
  background: linear-gradient(to left, transparent, black, transparent);
}

.sphere .axis + .axis {
  transform: rotateX(90deg);
}

@keyframes rotate {
  0% {
    transform: rotateX(30deg) rotateY(0deg) rotateZ(80deg);
  }
  100% {
    transform: rotateX(30deg) rotateY(360deg) rotateZ(80deg);
  }
}



