.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 30rem;
  & .container-img {
    height: 20rem;

    & img {
      height: 100%;
      width: 100%;
    }
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  background-color: #718096;
}
/* ---- css boton de añadir al carro---- */
.add-to-carro-btn {
  background-color: #3b82f6;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: background 0.2s;
}
.add-to-carro-btn:hover {
  background-color: #2563eb;
}
